@font-face {
  font-family: Roboto;
  src: url(fonts/RobotoFlex-VariableFont.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(fonts/RobotoMono-VariableFont.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(fonts/RobotoMono-Italic-VariableFont.ttf);
  font-style: italic;
}
